<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <webSocket enabled="true" />
      <handlers>
         <add name="iisnode" path="bin/www" verb="*" modules="iisnode" />
      </handlers>
      <rewrite>
         <rules>
            <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
               <match url="^bin/www\/debug[\/]?" />
            </rule>
            <rule name="StaticContent">
               <action type="Rewrite" url="public{REQUEST_URI}" />
            </rule>
            <rule name="DynamicContent">
               <conditions>
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
               </conditions>
               <action type="Rewrite" url="bin/www" />
            </rule>
            <rule name="RedirectToHttps">
               <match url="(.*)" />
               <conditions>
                  <add input="{HTTPS}" pattern="Off" />
                  <add input="{REQUEST_METHOD}" pattern="^get$|^head$" />
               </conditions>
               <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
            </rule>
         </rules>
      </rewrite>
      <security>
         <requestFiltering>
            <hiddenSegments>
               <remove segment="bin" />
            </hiddenSegments>
         </requestFiltering>
      </security>
      <httpErrors existingResponse="PassThrough" />
      <staticContent>
         <mimeMap fileExtension="woff" mimeType="application/font-woff" />
         <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
      </staticContent>
      <modules>
         <remove name="TelemetryCorrelationHttpModule" />
         <remove name="ApplicationInsightsWebTracking" />
      </modules>
      <validation validateIntegratedModeConfiguration="false" />
   </system.webServer>
   <system.web>
      <httpModules />
   </system.web>
</configuration>